body{
    height: 100%;
    display: inherit;
}

#vertical-center{
    height: 100%;
}

.center-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  top: 50%;
}

.center-vert {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .menu-item{
    margin-left:20px;
}

.top-drawer{
    background-color: #2e7d32;
    padding: 24px 0 24px 0;
}

.top-drawer h5{
    color: #FFF;
    font-size: 16px;
    margin: 20px 0 0 0;
}

.mdl-list__item span {
    margin: 0 0 0 20px;
}

.top-drawer p{
    color: #FFF;
    font-size: 11px;
    margin: 0;
}

.img-circle {
    border-radius: 50%;
}

.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img .rounded {
    margin: 0 auto;
    height: 100%;
    width: 70px;
}

.avatar{
    width: 70px;
}

.divider {
    border-top: 1px solid #e6e6e6;
}

hr{
    padding: 0;
    margin: 0;
}

.mdl-list a {
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.menu-selected{
    background-color: #cccccc;
}

.mdl-dialog{
    padding: 0;
}

#notas-modal{
    margin: 0 auto;
    opacity: 0;
}

#faltas-modal{
    margin: 0 auto;
    opacity: 0;
}

#addatividade-modal{
    opacity: 0;
}

.nota-textfield{
    padding: 0;
    width: 40px;
}

.nota-input{
    font-size: 13px;
}

.notas-table{
    /*word-wrap: break-word;*/
}

.nota-nome-aluno{
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:1px;
}

#notas-div-botoes{
    margin-bottom: 5px;
}

#materiais-modal{
    margin: 0 auto;
    opacity: 0;
}

#questoes-modal{
    margin: 0 auto;
    opacity: 0;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
 
.mdl-textfield--file .mdl-button--file {
    right: 0;
}

#addquestao-modal {
    margin: 0 auto;
}

#alternativas{
    margin: 0 auto;
}

.alternativas-item{
    padding: 0;  
}

.alternativas-item-label{
    padding: 0;
    top: 5px;
}

#editquestao-modal {
    margin: 0 auto;
}

.botao-delete{
    color: red;
}
.fundo-noscroll {
    overflow: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.home-proximasatividades-legenda {
    font-size: 11px;
    text-align: left;
}

.home-proximasatividades-icone {
    color: #2e7d32;
    font-size: 13px!important;
}

#main-boasvindas{
    text-align: left;
}

.novidades-numero {
    color: #2e7d32;
    padding-right: 5px;
    font-weight: bold;
}